<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button><img class="img123" src="../assets/img/download.png">
    </ion-buttons>
    <ion-title>Contact Us</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content no-padding class="background">
	<div style="padding-top: 50px;  background-color: #ed576b;">
		<center>
			<ion-thumbnail class="img1234" slot="start">
        		<img src="../assets/img/download.png" class="img1234">
      		</ion-thumbnail>
      	</center>
      	<center><h1>Helpline</h1></center>
    </div>
    <div style="padding-top: 40px;">
    	<center><ion-icon color="success" style="font-size: 35px;" name="location-outline"></ion-icon></center>
    	<center>1st floor, kamshet mandir near small hospital, xyz, abc Maharashtra - 412365</center>
    	<center><ion-icon color="success" style="font-size: 35px;" name="call-outline"></ion-icon></center>
    	<center>+91 8523698741</center>
    	<center><ion-icon color="success" style="font-size: 35px;" name="mail-outline"></ion-icon></center>
    	<center>helpline@gmail.com</center>
    	<center><ion-icon color="success" style="font-size: 35px;" name="logo-facebook"></ion-icon></center>
    	<center>helpline</center>
    </div>
</ion-content>
