<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button><img class="img123" src="../assets/img/download.png">
    </ion-buttons>
    <ion-title>Register Business</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content no-padding class="background">
<div>
	<ion-list >
  
  <ion-item class="abc">
    <ion-label>Select Category</ion-label>
    <ion-select [interfaceOptions]="customAlertOptions" interface="alert" multiple="true" placeholder="Select One">
      <ion-select-option value="Shopping">Shopping</ion-select-option>
      <ion-select-option value="Shopping">Shopping </ion-select-option>
      <ion-select-option value="Shopping">Shopping </ion-select-option>
      <ion-select-option value="Shopping">Shopping </ion-select-option>
      <ion-select-option value="Shopping">Shopping</ion-select-option>
      <ion-select-option value="Shopping">Shopping</ion-select-option>
      <ion-select-option value="Shopping">Shopping</ion-select-option>
      <ion-select-option value="Shopping">Shopping</ion-select-option>
      <ion-select-option value="Shopping">Shopping</ion-select-option>
      <ion-select-option value="Shopping">Shopping</ion-select-option>
    </ion-select>
  </ion-item>

</ion-list>
<ion-list >
  
  <ion-item class="abc">
    <ion-label>Select Subcategory</ion-label>
    <ion-select [interfaceOptions]="customAlertOptions" interface="alert" multiple="true" placeholder="Select One">
      <ion-select-option value="Shopping">Shopping</ion-select-option>
      <ion-select-option value="Shopping">Shopping </ion-select-option>
      <ion-select-option value="Shopping">Shopping </ion-select-option>
      <ion-select-option value="Shopping">Shopping </ion-select-option>
      <ion-select-option value="Shopping">Shopping</ion-select-option>
      <ion-select-option value="Shopping">Shopping</ion-select-option>
      <ion-select-option value="Shopping">Shopping</ion-select-option>
      <ion-select-option value="Shopping">Shopping</ion-select-option>
      <ion-select-option value="Shopping">Shopping</ion-select-option>
      <ion-select-option value="Shopping">Shopping</ion-select-option>
    </ion-select>
  </ion-item>

</ion-list>
<ion-list >
  
  <ion-item class="abc">
    <ion-label>Select Sub Subcategory</ion-label>
    <ion-select [interfaceOptions]="customAlertOptions" interface="alert" multiple="true" placeholder="Select One">
      <ion-select-option value="Shopping">Shopping</ion-select-option>
      <ion-select-option value="Shopping">Shopping </ion-select-option>
      <ion-select-option value="Shopping">Shopping </ion-select-option>
      <ion-select-option value="Shopping">Shopping </ion-select-option>
      <ion-select-option value="Shopping">Shopping</ion-select-option>
      <ion-select-option value="Shopping">Shopping</ion-select-option>
      <ion-select-option value="Shopping">Shopping</ion-select-option>
      <ion-select-option value="Shopping">Shopping</ion-select-option>
      <ion-select-option value="Shopping">Shopping</ion-select-option>
      <ion-select-option value="Shopping">Shopping</ion-select-option>
    </ion-select>
  </ion-item>

</ion-list>
<ion-input type="text" [(ngModel)]="number" required  placeholder="Business Name"></ion-input><br/>
<ion-input type="text" [(ngModel)]="number" required  placeholder="Phone Number"></ion-input><br/>
<ion-input type="text" [(ngModel)]="number" required  placeholder="WhatsApp Number"></ion-input><br/>
<ion-input type="text" [(ngModel)]="number" required  placeholder="Timing From"></ion-input><br/>
<ion-input type="text" [(ngModel)]="number" required  placeholder="Timing To"></ion-input><br/>
<ion-textarea type="text" [(ngModel)]="number" required placeholder="Description"></ion-textarea><br/>
<ion-textarea type="text" [(ngModel)]="number" required placeholder="Services"></ion-textarea><br/>
<ion-input type="text" [(ngModel)]="number" required  placeholder="Website"></ion-input><br/>
<ion-input type="text" [(ngModel)]="number" required  placeholder="Owner Name"></ion-input>
<ion-textarea type="text" [(ngModel)]="number" required placeholder="Address"></ion-textarea>
<ion-list >
  
  <ion-item class="abc">
    <ion-label>Select Taluka</ion-label>
    <ion-select [interfaceOptions]="customAlertOptions" interface="alert" multiple="true" placeholder="Select One">
      <ion-select-option value="Purandhar">Purandhar</ion-select-option>
      <ion-select-option value="Purandhar">Purandhar </ion-select-option>
      <ion-select-option value="Purandhar">Purandhar </ion-select-option>
      <ion-select-option value="Purandhar">Purandhar </ion-select-option>
      <ion-select-option value="Purandhar">Purandhar</ion-select-option>
      <ion-select-option value="Purandhar">Purandhar</ion-select-option>
      <ion-select-option value="Purandhar">Purandhar</ion-select-option>
      <ion-select-option value="Purandhar">Purandhar</ion-select-option>
      <ion-select-option value="Purandhar">Purandhar</ion-select-option>
      <ion-select-option value="Purandhar">Purandhar</ion-select-option>
    </ion-select>
  </ion-item>

</ion-list>
<ion-list >
  
  <ion-item class="abc">
    <ion-label>Select Village</ion-label>
    <ion-select [interfaceOptions]="customAlertOptions" interface="alert" multiple="true" placeholder="Select One">
      <ion-select-option value="Saswad">Saswad</ion-select-option>
      <ion-select-option value="Saswad">Saswad </ion-select-option>
      <ion-select-option value="Saswad">Saswad </ion-select-option>
      <ion-select-option value="Saswad">Saswad </ion-select-option>
      <ion-select-option value="Saswad">Saswad</ion-select-option>
      <ion-select-option value="Saswad">Saswad</ion-select-option>
      <ion-select-option value="Saswad">Saswad</ion-select-option>
      <ion-select-option value="Saswad">Saswad</ion-select-option>
      <ion-select-option value="Saswad">Saswad</ion-select-option>
      <ion-select-option value="Saswad">Saswad</ion-select-option>
    </ion-select>
  </ion-item>

</ion-list>
<ion-input  type="file" class="upload" placeholder="Upload Image">Upload Image</ion-input><br/>
<ion-input  type="file" class="upload" placeholder="Upload Image">Upload Image</ion-input><br/>
<ion-input  type="file" class="upload" placeholder="Upload Image">Upload Image</ion-input><br/>
<ion-input  type="file" class="upload" placeholder="Upload Image">Upload Image</ion-input><br/>
<ion-input type="text" [(ngModel)]="number" required  placeholder="Referral Code (Optional)"></ion-input>

</div>
</ion-content>
<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-button routerLink="/edit-advertises" style="float: right;" color="success" shape="round"><ion-icon name="save-outline"></ion-icon><b>Save</b></ion-button> 
  </ion-toolbar>
</ion-footer>
