ion-content.background{
    --background: url(/assets/img/Untitled.png) 0 0/100% 100% no-repeat;
}
.img1234 {
  border-radius: 100%;
  height: 100px;
  width: 100px;
}
.img123 {
  border-radius: 50%;
  height: 30px;
  width: 30px;
}