<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button><img class="img123" src="../assets/img/download.png">
    </ion-buttons>
    <ion-title color="dark" class="ion-text-left">
      <b>
      My Account
    </b>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a routerLink="/login" class="ion-text-right">
      <b>
      <ion-icon style="font-size: 30px;" color="dark" name="log-out-outline"></ion-icon>
    </b>
    </a>
    </ion-title>
    
  </ion-toolbar>

</ion-header>

<ion-content no-padding class="background">
	<div style="padding-top: 50px;">
		<center>
			<ion-thumbnail class="img1234" slot="start">
        		<img src="../assets/img/5.jpg" class="img1234">
      		</ion-thumbnail>
      	</center>
      </div>
      <div style="padding-top: 30px;">
      <ion-list>
      	<ion-item>
      	<ion-grid>
     <ion-row style="padding-right: 20px;">
    <ion-col size="6">
    	<center><ion-icon color="danger" style="font-size: 35px;" name="person-circle-outline"></ion-icon></center>
    </ion-col>
    <ion-col size="6">
    	<center><ion-label >Name<br> XYZ</ion-label></center>
    </ion-col>
</ion-row>
</ion-grid>
</ion-item>
<ion-item>
      	<ion-grid>
     <ion-row style="padding-right: 20px;">
    <ion-col size="6">
    	<center><ion-icon color="danger" style="font-size: 35px;" name="call-outline"></ion-icon></center>
    </ion-col>
    <ion-col size="6">
    	<center><ion-label >Phone Number<br> 9874563214</ion-label></center>
    </ion-col>
</ion-row>
</ion-grid>
</ion-item>
<ion-item>
      	<ion-grid>
     <ion-row style="padding-right: 20px;">
    <ion-col size="6">
    	<center><ion-icon color="danger" style="font-size: 35px;" name="mail-outline"></ion-icon></center>
    </ion-col>
    <ion-col size="6">
    	<center><ion-label >Email<br> xyz@gmail.com</ion-label></center>
    </ion-col>
</ion-row>
</ion-grid>
</ion-item>
<ion-item>
      	<ion-grid>
     <ion-row style="padding-right: 20px;">
    <ion-col size="6">
    	<center><ion-icon color="danger" style="font-size: 35px;" name="location-outline"></ion-icon></center>
    </ion-col>
    <ion-col size="6">
    	<center><ion-label >Location<br> India</ion-label></center>
    </ion-col>
</ion-row>
</ion-grid>
</ion-item>
</ion-list>
</div>
</ion-content>
<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-fab-button routerLink="/edit-profile" style="float: right; padding-right: 5px; padding-bottom: 10px;" color="success"><ion-icon name="pencil-outline"></ion-icon></ion-fab-button>
  </ion-toolbar>
</ion-footer>
