<ion-content no-padding class="background">
 <div style="padding-top: 130px;">
  <div class="main">
    <ion-card no-margin>
      <ion-card-content>
      	<center><ion-text style="color: black;">
		  <h1><b>Helpline</b></h1>
		</ion-text></center><br/>
		<center><ion-text style="color: black;">
		  <h6>Help Us To Help You!</h6>
		</ion-text></center>
        <ion-row>
          <ion-col>

   			 <ion-input type="text" [(ngModel)]="number" required  placeholder="Phone Number"></ion-input>
          	
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
   			 <ion-input type="text" [(ngModel)]="password" required  placeholder="Password"><!-- <ion-icon style="font-size: 30px;" name="eye-outline"></ion-icon> --></ion-input>
            
          </ion-col>
        </ion-row>
        <ion-row  >
          <ion-col >

            <a routerLink="/forgot"><ion-text style="float: right;" color="dark" class="block">Forgot Password</ion-text></a>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            
            <ion-fab-button routerLink="/first" style="float: right;" color="success"><ion-icon name="arrow-forward"></ion-icon></ion-fab-button>
            
          </ion-col>
        </ion-row>
        
      </ion-card-content>
    </ion-card>
     
  </div>
  
</div>
</ion-content>
<ion-footer class="ion-no-border">
  <ion-toolbar>
    <p style="float: right;">Don't have an account?&nbsp;<a href="/register"><ion-text  color="dark">Create</ion-text></a></p>
  </ion-toolbar>
</ion-footer>

