<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <a routerLink="/login"><ion-text color="primary">Back</ion-text></a><img class="img123" src="../assets/img/download.png">
    </ion-buttons> 
    <ion-title>Forgot Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content no-padding class="background">
	<div style="padding-top: 80px;">
  <div class="main">
    <ion-card no-margin>
      <ion-card-content>
      	<center><img class="img1234" src="../assets/img/lock.png"></center>
      	<center><ion-text color="dark" style="font-size: 25px;">Forgot Your Password?</ion-text></center>
      	<br/><br/>
        <ion-row>
          <ion-col>
            
      
      <ion-input type="email" [(ngModel)]="email" required  placeholder="Phone Number"></ion-input>
   
            
          </ion-col>
        </ion-row>

      </ion-card-content>
    </ion-card>
  </div></div>
</ion-content>
<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-button style="float: right;" color="success" shape="round"><b>Send</b><ion-icon name="arrow-redo-circle-outline"></ion-icon></ion-button> 
  </ion-toolbar>
</ion-footer>