ion-input{
      border: solid 2px black;
      --placeholder-color: black;
    --placeholder-opacity: 1;
    
   }
   
.img123 {
  border-radius: 50%;
  height: 30px;
  width: 30px;
}
.img1234 {
  border-radius: 50%;
  height: 150px;
  width: 150px;
}
.shadow_red{
        
        b--border-radius: 50%;
    }
    ion-content.background{
    --background: url(/assets/img/Untitled.png) 0 0/100% 100% no-repeat;
}