<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button><img class="img123" src="../assets/img/download.png">
    </ion-buttons>
    <ion-title>Sub SubCategories</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content no-padding class="background">
<ion-slides pager="true" [options]="slideOpts">
   <ion-slide>
          <!-- <ion-card style="height: 150px; width: 800px;"> -->
    <img style="width: 100%;" src="../assets/img/1.jpg">
  <!-- </ion-card> -->
        </ion-slide>

        <ion-slide>
          <!-- footer image -->

    <img style="width: 100%;" src="../assets/img/1.jpg">
  <!-- </ion-card> -->
        </ion-slide>
    </ion-slides>
    <ion-grid>
     <ion-row style="padding-right: 20px;">
    <ion-col size="12">
      <a routerLink="/four">
      <ion-card style="width:100%; height: 330px;">
  <ion-card-content>
    <center><img style="width: 100%" src="../assets/img/1.jpg"><div class="overlayText"><ion-text style="font-size: 20px;" color="success">Abc Mart</ion-text></div></center>
  </ion-card-content>
  <div style="padding-left: 30px;">
  <ion-text  color="dard"><b>Owner Name: </b>Mr. Abc xyz</ion-text><br/>
  <ion-text  color="dard"><b>Address: </b> Hadapsar Pune</ion-text><br/>
  <ion-text  color="dard"><b>Services: </b>Sales</ion-text><br/>
  <ion-text  color="dard"><b>Timing: </b>09 AM to 09 PM</ion-text><br/>
  <ion-button href="#" color="danger">Call Now</ion-button><ion-button color="success" href="#">WhatsApp</ion-button>

</div>
</ion-card>
</a>
    </ion-col>
  </ion-row>
   </ion-grid>
</ion-content>
