.app-logo{
    height: 150px;
    width: 150px;
    background-repeat: no-repeat;
    border-radius: 320px;
    background-position: center;
    background-size: contain;
    background-color: #e3f8ff;
    margin: 30px auto;
}
.img123 {
  border-radius: 50%;
  height: 100px;
  width: 100px;
}

