<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button><img class="img123" src="../assets/img/download.png">
    </ion-buttons>
    <ion-title>Vendor Profile&nbsp;<a routerLink="/area"> <ion-text style="font-size: 15px;">Select Area</ion-text></a><a routerLink="/notify">  <ion-icon style="font-size: 25px;" name="notifications-outline"></ion-icon></a></ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content no-padding class="background">
	<ion-slides pager="true" [options]="slideOpts">
	 <ion-slide>
          <!-- <ion-card style="height: 150px; width: 800px;"> -->
    <img style="width: 100%;" src="../assets/img/3.jpg">
  <!-- </ion-card> -->
        </ion-slide>

        <ion-slide>
          <!-- <ion-card style="height: 150px; width: 800px;"> -->
    <img style="width: 100%;" src="../assets/img/3.jpg">
  <!-- </ion-card> -->
        </ion-slide>

        <ion-slide>
          <!-- <ion-card style="height: 150px; width: 800px;"> -->
    <img style="width: 100%;" src="../assets/img/3.jpg">
  <!-- </ion-card> -->
        </ion-slide>
    </ion-slides>
	 
<h3>News Categories</h3>

      <ion-slides pager="true" [options]="slideOpts">
        <ion-slide>
          <ion-card style="">
    <img style="width: 100%; height: 150px;" src="../assets/img/10.jpg">
    <div class="overlayText"><ion-text style="font-size: 20px;" color="light">Politics</ion-text></div>
  </ion-card>
        </ion-slide>
        <ion-slide>
          <ion-card style="">
    <img style="width: 100%; height: 150px;" src="../assets/img/9.jpg">
    <div class="overlayText"><ion-text style="font-size: 20px;" color="light">Technology</ion-text></div>
  </ion-card>
        </ion-slide>
        <ion-slide>
          <ion-card style="">
    <img style="width: 100%; height: 150px;" src="../assets/img/8.jpg">
    <div class="overlayText"><ion-text style="font-size: 20px;" color="light">Entertainment</ion-text></div>
  </ion-card>
        </ion-slide>
        <ion-slide>
          <ion-card style="">
    <img style="width: 100%; height: 150px;" src="../assets/img/7.jpg">
    <div class="overlayText"><ion-text style="font-size: 20px;" color="light">Business</ion-text></div>
  </ion-card>
        </ion-slide>
        <ion-slide>
          <ion-card style="">
    <img style="width: 100%; height: 150px;" src="../assets/img/6.jpg">
    <div class="overlayText"><ion-text style="font-size: 20px;" color="dark">World</ion-text></div>
  </ion-card>
        </ion-slide>
        <ion-slide>
          <ion-card style="">
    <img style="width: 100%; height: 150px;" src="../assets/img/5.jpg">
    <div class="overlayText"><ion-text style="font-size: 20px;" color="dark">Crime</ion-text></div>
  </ion-card>
        </ion-slide>
        <ion-slide>
          <ion-card style="">
    <img style="width: 100%; height: 150px;" src="../assets/img/images.jpg">
    <div class="overlayText"><ion-text style="font-size: 20px;" color="dark">Education</ion-text></div>
  </ion-card>
        </ion-slide>
        <ion-slide>
          <ion-card style="">
    <img style="width: 100%; height: 150px;" src="../assets/img/download.jpg">
    <div class="overlayText"><ion-text style="font-size: 20px;" color="dark">Maharashtra</ion-text></div>
  </ion-card>
        </ion-slide>
      </ion-slides>
   <ion-grid>
     <ion-row>
    <ion-col style="padding-top: 18px;" size="6">
      <ion-text style="background-color: #ed576b; padding-bottom: 10px; padding-top: 10px; padding-right: 7px;">Add My Business</ion-text>
    </ion-col>
    <ion-col size="6">
      <ion-text  style="float: right; background-color: #42d77d;  padding-bottom: 10px; padding-top: 10px; padding-left: 7px;">Post My Advertise</ion-text>
    </ion-col>
  </ion-row>
   </ion-grid> 

   
   <ion-grid>
     <ion-row style="padding-right: 20px;">
    <ion-col size="4">
      <a routerLink="/second">
      <ion-card style="width:100%; height: 125px;">
  <ion-card-content>
    <center><img style="height: 70px;" src="../assets/img/1.jpg"></center>
  </ion-card-content>
  <center><ion-label  color="dard"><b>Shopping</b></ion-label></center>
</ion-card>
</a>
    </ion-col>
    <ion-col size="4">
      <a routerLink="/second">
      <ion-card style="width:100%; height: 125px;">
  <ion-card-content>
    <center><img style="height: 70px;" src="../assets/img/1.jpg"></center>
  </ion-card-content>
  <center><ion-label color="dard"><b>Shopping</b></ion-label></center>
</ion-card>
</a>
    </ion-col>
    <ion-col size="4">
      <a routerLink="/second">
      <ion-card style="width:100%; height: 125px;">
  <ion-card-content>
    <center><img style="height: 70px;" src="../assets/img/1.jpg"></center>
  </ion-card-content>
  <center><ion-label color="dard"><b>Shopping</b></ion-label></center>
</ion-card>
</a>
    </ion-col>
  </ion-row>
   </ion-grid>


<!-- footer image -->
<ion-slides pager="true" [options]="slideOpts">
   <ion-slide>
          <!-- <ion-card style="height: 150px; width: 800px;"> -->
    <img style="width: 100%;" src="../assets/img/1.jpg">
  <!-- </ion-card> -->
        </ion-slide>

        <ion-slide>
          <!-- footer image -->

    <img style="width: 100%;" src="../assets/img/1.jpg">
  <!-- </ion-card> -->
        </ion-slide>
    </ion-slides>

</ion-content>
