ion-content.background{
    --background: url(/assets/img/Untitled.png) 0 0/100% 100% no-repeat;
}
.img123 {
  border-radius: 50%;
  height: 30px;
  width: 30px;
}
.overlayText {
  position:absolute;
    bottom:12%;
    left:10%;
    z-index:1;
}