<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button><img class="img123" src="../assets/img/download.png">
    </ion-buttons>
    <ion-title>Sub Categories</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content no-padding class="background">
<ion-slides pager="true" [options]="slideOpts">
   <ion-slide>
          <!-- <ion-card style="height: 150px; width: 800px;"> -->
    <img style="width: 100%;" src="../assets/img/1.jpg">
  <!-- </ion-card> -->
        </ion-slide>

        <ion-slide>
          <!-- footer image -->

    <img style="width: 100%;" src="../assets/img/1.jpg">
  <!-- </ion-card> -->
        </ion-slide>
    </ion-slides>
    <ion-grid>
     <ion-row style="padding-right: 20px;">
    <ion-col size="6">
      <a routerLink="/third">
      <ion-card style="width:100%; height: 125px;">
  <ion-card-content>
    <center><img style="height: 70px;" src="../assets/img/1.jpg"></center>
  </ion-card-content>
  <center><ion-label  color="dard"><b>Shopping</b></ion-label></center>
</ion-card>
</a>
    </ion-col>
    <ion-col size="6">
      <a routerLink="/third">
      <ion-card style="width:100%; height: 125px;">
  <ion-card-content>
    <center><img style="height: 70px;" src="../assets/img/1.jpg"></center>
  </ion-card-content>
  <center><ion-label color="dard"><b>Shopping</b></ion-label></center>
</ion-card>
</a>
    </ion-col>
  </ion-row>
   </ion-grid>
</ion-content>
