<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button><img class="img123" src="../assets/img/download.png">
    </ion-buttons>
    <ion-title>Apply Filters</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content no-padding class="background">
<div style="padding-top: 200px;">
	<ion-list >
  
  <ion-item class="abc">
    <ion-label>Select Taluka</ion-label>
    <ion-select [interfaceOptions]="customAlertOptions" interface="alert" multiple="true" placeholder="Select One">
      <ion-select-option value="Purandhar">Purandhar</ion-select-option>
      <ion-select-option value="Purandhar">Purandhar </ion-select-option>
      <ion-select-option value="Purandhar">Purandhar </ion-select-option>
      <ion-select-option value="Purandhar">Purandhar </ion-select-option>
      <ion-select-option value="Purandhar">Purandhar</ion-select-option>
      <ion-select-option value="Purandhar">Purandhar</ion-select-option>
      <ion-select-option value="Purandhar">Purandhar</ion-select-option>
      <ion-select-option value="Purandhar">Purandhar</ion-select-option>
      <ion-select-option value="Purandhar">Purandhar</ion-select-option>
      <ion-select-option value="Purandhar">Purandhar</ion-select-option>
    </ion-select>
  </ion-item>

</ion-list>
<ion-list >
  
  <ion-item class="abc">
    <ion-label>Select Village</ion-label>
    <ion-select [interfaceOptions]="customAlertOptions" interface="alert" multiple="true" placeholder="Select One">
      <ion-select-option value="Saswad">Saswad</ion-select-option>
      <ion-select-option value="Saswad">Saswad </ion-select-option>
      <ion-select-option value="Saswad">Saswad </ion-select-option>
      <ion-select-option value="Saswad">Saswad </ion-select-option>
      <ion-select-option value="Saswad">Saswad</ion-select-option>
      <ion-select-option value="Saswad">Saswad</ion-select-option>
      <ion-select-option value="Saswad">Saswad</ion-select-option>
      <ion-select-option value="Saswad">Saswad</ion-select-option>
      <ion-select-option value="Saswad">Saswad</ion-select-option>
      <ion-select-option value="Saswad">Saswad</ion-select-option>
    </ion-select>
  </ion-item>

</ion-list>
</div>
</ion-content>
<ion-footer class="ion-no-border">
  <ion-toolbar>
  	<ion-grid>
     <ion-row>
    <ion-col size="6">
      <center><ion-button routerLink="/first" color="light" shape="round"><b>Clear</b></ion-button> </center>
    </ion-col>
    <ion-col size="6">
      <center><ion-button routerLink="/first" color="success" shape="round"><b>Apply</b></ion-button> </center>
    </ion-col>
  </ion-row>
   </ion-grid>
    
  </ion-toolbar>
</ion-footer>
