<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button><img class="img123" src="../assets/img/download.png">
    </ion-buttons>
    <ion-title>Notifications</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content no-padding class="background">
<div style="padding-top: 20px;">
	<ion-item>
      	<ion-grid>
     <ion-row style="padding-right: 20px;">
    <ion-col size="4">
    	<center><img class="img1234" src="../assets/img/download.png"></center>
    </ion-col>
    <ion-col size="4">
    	<center><ion-label >XYZ</ion-label></center>
    </ion-col>
    <ion-col size="4">
    	<center><ion-label >Sep 12, 2020</ion-label></center>
    </ion-col>
</ion-row>
</ion-grid>
</ion-item>
<ion-item>
      	<ion-grid>
     <ion-row style="padding-right: 20px;">
    <ion-col size="4">
    	<center><img class="img1234" src="../assets/img/download.png"></center>
    </ion-col>
    <ion-col size="4">
    	<center><ion-label >XYZ</ion-label></center>
    </ion-col>
    <ion-col size="4">
    	<center><ion-label >Sep 12, 2020</ion-label></center>
    </ion-col>
</ion-row>
</ion-grid>
</ion-item>
<ion-item>
      	<ion-grid>
     <ion-row style="padding-right: 20px;">
    <ion-col size="4">
    	<center><img class="img1234" src="../assets/img/download.png"></center>
    </ion-col>
    <ion-col size="4">
    	<center><ion-label >XYZ</ion-label></center>
    </ion-col>
    <ion-col size="4">
    	<center><ion-label >Sep 12, 2020</ion-label></center>
    </ion-col>
</ion-row>
</ion-grid>
</ion-item>
</div>
</ion-content>
