<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button><img class="img123" src="../assets/img/download.png">
    </ion-buttons>
    <ion-title>Post Advertises</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content no-padding class="background">
	<div style="padding-top: 20px;">
<ion-input type="text" [(ngModel)]="number" required  placeholder="Advertise Name"></ion-input>
<ion-list>
  <ion-radio-group>
    <ion-list-header>
      <ion-label>
        Select View
      </ion-label>
    </ion-list-header>

    <ion-item>
    	
    	<ion-button color="success" style="padding-right: 20px; "> ₹ 0</ion-button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <ion-label>Free (12 days)</ion-label>
      <ion-radio value="cord"></ion-radio>
    </ion-item>
    <ion-item>
    	
    	<ion-button color="success"> ₹ 30</ion-button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <ion-label>Advertise Inside Categories (2 days)</ion-label>
      <ion-radio value="cord"></ion-radio>
    </ion-item>
    <ion-item>
    	
    	<ion-button color="success"> ₹ 50</ion-button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <ion-label>Advertise at Bottom (12 days)</ion-label>
      <ion-radio value="cord"></ion-radio>
    </ion-item>
    <ion-item>
    	
    	<ion-button color="success"> ₹ 200</ion-button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <ion-label>Advertise on Top (20 days)</ion-label>
      <ion-radio value="cord"></ion-radio>
    </ion-item>
</ion-radio-group>
</ion-list>
<ion-input type="text" [(ngModel)]="number" required  placeholder="Phone Number"></ion-input>
<ion-textarea type="text" [(ngModel)]="number" required placeholder="Description"></ion-textarea>
<ion-textarea type="text" [(ngModel)]="number" required placeholder="Address"></ion-textarea><br/>
<ion-input  type="file" class="upload" placeholder="Upload Image">Upload Image</ion-input>
</div>
</ion-content>
<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-button routerLink="/edit-advertises" style="float: right;" color="success" shape="round"><ion-icon name="cloud-upload-outline"></ion-icon><b>Post</b></ion-button> 
  </ion-toolbar>
</ion-footer>
