<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button><img class="img123" src="../assets/img/download.png">
    </ion-buttons>
    <ion-title>Update Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content no-padding class="background">
	<div style="padding-top: 50px;">
   			 <ion-input type="text" [(ngModel)]="number" required  placeholder="Name"></ion-input><br>
   			 <ion-input type="text" [(ngModel)]="number" required  placeholder="Phone Number"></ion-input><br>
   			 <ion-input type="text" [(ngModel)]="number" required  placeholder="Email"></ion-input><br>
   			 <ion-input type="text" [(ngModel)]="number" required  placeholder="Location"></ion-input><br>
		
	</div>

</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-button routerLink="/edit-business" style="float: right;" color="success" shape="round"><ion-icon name="timer-outline"></ion-icon><b>Update</b></ion-button> 
  </ion-toolbar>
</ion-footer>
