<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button><img class="img123" src="../assets/img/download.png">
    </ion-buttons>
    <ion-title>My Businesses</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content no-padding class="background">
	<div style="padding-top: 220px;">
<center><ion-icon style="font-size: 50px;" name="hourglass-outline"></ion-icon></center>
<center><ion-text color="dark">Click on add button to register your business</ion-text></center>
</div>
</ion-content>
<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-button routerLink="/edit-business" style="float: right;" color="success" shape="round"><ion-icon name="add-outline"></ion-icon><b>Add</b></ion-button> 
  </ion-toolbar>
</ion-footer>
