<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button><img class="img123" src="../assets/img/download.png">
    </ion-buttons>
    <ion-title>Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content no-padding class="background">
<ion-slides pager="true" [options]="slideOpts">
   <ion-slide>
          <!-- <ion-card style="height: 150px; width: 800px;"> -->
    <img style="width: 100%;" src="../assets/img/1.jpg">
  <!-- </ion-card> -->
        </ion-slide>

        <ion-slide>
          <!-- footer image -->

    <img style="width: 100%;" src="../assets/img/1.jpg">
  <!-- </ion-card> -->
        </ion-slide>
    </ion-slides>
    <div style="padding-left: 5px;">
    <h3 color="dark">Abc Mart</h3>
    <ion-text >Sub categories | Sub Subcategories</ion-text>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<ion-icon style="font-size: 25px;" name="call-outline"></ion-icon>&nbsp;&nbsp;<ion-icon style="font-size: 25px;" name="chatbox-ellipses-outline"></ion-icon><br/><br/></div>
    <div style="padding-left: 10px;">
    <ion-icon style="font-size: 25px;" name="location-outline"></ion-icon>&nbsp; <ion-text>Hadapsar Pune</ion-text><br/><br>
    <ion-icon style="font-size: 25px;" name="time-outline"></ion-icon>&nbsp;<ion-text>09 AM to 09 PM</ion-text><br/><br>
    <ion-icon style="font-size: 25px;" name="briefcase-outline"></ion-icon>&nbsp;<ion-text>Sales</ion-text><br/><br>
    Super Market<br><br>
    <ion-icon style="font-size: 25px;" name="person-outline"></ion-icon>&nbsp;<ion-text>hadapsar Pune</ion-text><br/><br>
    <ion-icon style="font-size: 25px;" name="link-outline"></ion-icon>&nbsp;<ion-text>www.abc.in</ion-text><br/><br>
</div>
</ion-content>
