ion-content.background{
    --background: url(/assets/img/Untitled.png) 0 0/100% 100% no-repeat;
}
ion-input{
      border: solid 2px black;
      --placeholder-color: black;
    --placeholder-opacity: 1;
    
   }
   
