<ion-content no-padding class="background">
 <div style="padding-top: 130px;">
  <div class="main">
    <ion-card no-margin>
      <ion-card-content>
      	<center><ion-text style="color: black;">
		  <h1><b>Create Account</b></h1>
		</ion-text></center><br/>
		<ion-row>
          <ion-col>

   			 <ion-input type="text" [(ngModel)]="name" required  placeholder="Name"></ion-input>
          	
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>

   			 <ion-input type="text" [(ngModel)]="number" required  placeholder="Phone Number"></ion-input>
          	
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>

   			 <ion-input type="text" [(ngModel)]="email" required  placeholder="Email"></ion-input>
          	
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
   			 <ion-input type="text" [(ngModel)]="password" required  placeholder="Password"><!-- <ion-icon style="font-size: 30px;" name="eye-outline"></ion-icon> --></ion-input>
            
          </ion-col>
        </ion-row>
        
        <ion-row>
          <ion-col>
            
            <ion-fab-button style="float: right;" color="success"><ion-icon name="arrow-forward"></ion-icon></ion-fab-button>
            
          </ion-col>
        </ion-row>
        
      </ion-card-content>
    </ion-card>
     
  </div>
  
</div>
</ion-content>
<ion-footer class="ion-no-border">
  <ion-toolbar>
    <p style="float: right;">Already have an account?&nbsp;<a href="/login"><ion-text  color="dark">Login</ion-text></a></p>
  </ion-toolbar>
</ion-footer>

